<div class="flex flex-col w-full h-full">
  <div class="flex h-1/5 w-full items-center justify-center" style="background-color: #D2EAA2;">
  toto
  </div>
  <div class="flex h-4/5 w-full items-center justify-center">
  dsqdq
  </div>

</div>