<div class="flex flex-col w-full h-full">
  
    <%= render 'recap_container'%>
  <div class="flex flex-col h-4/6 w-full">
    <%= render 'accounts_list'%>

    <%= render 'entries_list' %>
  </div>

</div>