<div class='flex h-10 w-40 p-2 text-xs bg-white items-center justify-center rounded-lg text-gray-500 border font-semibold border-gray-500 border-dashed'>
  <%= link_to '+ Ajouter un compte', new_account_path(user: current_user)%>
</div>