<% title ||= ''%>
<div class='flex flex-row space-x-2 h-12 p-3' style="background-color: #C1E692;">
  <%= link_to home_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
  <% end %>
  <%= content_tag :h2, title , class: 'text-white' %>
</div>