<p class='text-red-400 text-4xl'>Salut</p>
<p class='text-red-400 text-4xl'>Salut</p>
<p class='text-red-400 text-4xl'>Salut</p>
<p class='text-red-400 text-4xl'>Salut</p>
<p class='text-blue-400'>Salut</p>